h4 {
text-align: center;
}

p {
text-align: center;
}

.jumbotron {
background-color: #659DBD;
background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/px1640934-image-kwvvgimn.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dff27762e452d4e3c01903be19e24edb");
}
  

/*
https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rawpixel.com%2Fsearch%2Fturquoise%2520background&psig=AOvVaw2sEX8w6ETMB4yp68i2aOn0&ust=1669627854888000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMjv-cuGzvsCFQAAAAAdAAAAABAJ
*/