h1 {
	color:black;
  font-size: 500%;
}

li {
	list-style-type: none;
	
}

@media (min-width: 576px)
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    color: black;
}

h3 {
    background: #659DBD;
    color: white;
    font-size: 30px;
    padding-left: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.nav-bar {
  text-align: left;
}


.drButton {
  color: white;
  padding: 16px;
  font-size: 25px;
  border: 5px;
}



.dropdown {
  position: relative;
  display: inline-block;
  padding: 0.5%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e3df9f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #663e8e;}

html{
    background-image: url(background.jpg), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
  }

footer {
text-align: center;
padding: 8px;
background-color:#659DBD;
}

h4 {
text-align: center;
}

p {
text-align: center;
}

.jumbotron {
background-color: #659DBD;
background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/px1640934-image-kwvvgimn.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dff27762e452d4e3c01903be19e24edb");
}
  

/*
https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rawpixel.com%2Fsearch%2Fturquoise%2520background&psig=AOvVaw2sEX8w6ETMB4yp68i2aOn0&ust=1669627854888000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMjv-cuGzvsCFQAAAAAdAAAAABAJ
*/
